.navlink li:last-child{
    display: none;
}

@media screen and (max-width: 600px){
    .navlink li:not(:last-child){
        display: none;
    }
    .navlink li:last-child{
        display: flex;
    }
}
